.form {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form button[type="submit"] {
  /* Box Model */
  margin-top: 16px;
}

.inputWrapper {
  /* Position and Layout */
  position: relative;
}

.inputWrapper input {
  /* Box Model */
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  /* Box Style */
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  /* Background */
  background-color: transparent;
  /* Typography */
  font-size: 1rem;
  color: var(--black);
}

.inputWrapper span {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  position: absolute;
  z-index: -1;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  /* Box Model */
  width: 280px;
  height: 40px;
  padding: 0 16px;
  /* Typography */
  font-size: 1rem;
  color: var(--neutral-500);
}

.imageInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.imageInputPreview {
  margin-bottom: 16px;
  border-radius: 50%;  
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.error {
  /* Box Model */
  margin-top: 4px;
  /* Typography */
  font-size: 0.75rem;
  color: var(--red-500);
}
