.header {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  /* Box Model */
  width: 100%;
  height: 64px;
  /* Background */
  background-color: var(--pink-500);
}

.header h1 {
  /* Typography */
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
}

.menuWrapper {
  /* Position and Layout */
  position: fixed;
  right: 16px;
}

.menuTrigger {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  justify-content: center;
  align-items: center;
  /* Background */
  background-color: transparent;
  /* Typography */
  color: var(--white);
}

.menuContent {
  /* Display and Visibility */
  display: flex;
  flex-direction: column;
  /* Position and Layout */
  z-index: 150;
  gap: 12px;
  /* Box Model */
  min-width: 40vw;
  margin: 4px 16px 0 0;
  padding: 12px;
  /* Box Style */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  /* Background */
  background-color: var(--white);
}

.menuContent div a {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  align-items: center;
  gap: 8px;
  /* Box Style */
  outline: none;
}

.exitLink {
  /* Typography */
  color: var(--red-500);
}
