.form {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form button {
  /* Box Model */
  margin-top: 16px;
}

.backButton {
  /* Box Model */
  margin-top: 8px;
  /* Box Style */
  border-radius: 12px;
}
